/* reset */
html, body, div, span, h1, h2, h3, p, ul, li { margin: 0; padding: 0; border: 0; vertical-align: baseline; }
*, :after, :before { -webkit-box-sizing: border-box; box-sizing: border-box; }
ol, ul { list-style: none; display: block; }
a, button, div, input, select, textarea, :focus, :active { outline: none; }

/* grid */
html, body, .wrap { height: 100%; line-height: 1;  background: rgb(232, 235, 245);}
.wrap { width: 100%; max-width: 1024px; position: relative; margin: 0 auto; text-align: center; padding-top: 50px; }
.flex { display: -webkit-box; display: -ms-flexbox; display: flex; justify-content: center;}

/* typography */
body { font-size: 16px; line-height: 24px; font-family: 'Roboto', sans-serif; color: #333; }
h1 { font-weight: normal; font-size: 24px; line-height: 30px; margin-bottom: 24px; }
h2 { font-weight: normal; font-size: 20px; line-height: 30px; color: #058cd0; margin: -5px 0 27px; padding-top: 12px; border-bottom: dashed 1px; }
h3 { font-weight: normal; font-size: 22px; line-height: 24px; margin-bottom: 12px; }
p { line-height: 20px; color: #656565; text-align: justify; }

/* transition */
.btn, .closer, .overlay { -webkit-transition: all 0.2s; transition: all 0.2s; }

/* buttons */
.btn { height: 48px; display:inline-block; font-weight: 500; font-size: 14px; line-height: 46px; font-family: 'Roboto', sans-serif; padding: 0 32px; text-decoration:none; text-transform:uppercase; text-align:center; border-radius: 24px; border:0; background: transparent; cursor: pointer; }
.btn + .btn { margin-left: 24px; }
.btn-default { color: #058cd0; border: solid 2px #058cd0; opacity: 1; }
.btn-success { color: #5cb85c; border: solid 2px #5cb85c; opacity: 1; }
.btn-default:hover, .btn-success:hover { opacity: 0.77; }

/*--- CONTENT ---*/

.overlay { opacity: 0; visibility: hidden; position:fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 5; background: rgba(0,0,0,0.87); }
.dlg-modal { width: 100%; max-width: 570px; height: 300px; opacity: 0; visibility: hidden; text-align: center; position: fixed; left: 50%; z-index: 10; padding: 35px 36px; background: #fff; border-radius: 10px; -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.85); box-shadow: 0 0 20px rgba(0,0,0,0.85); }
.dlg-modal-fade { top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.dlg-modal-slide { top: -20px; -webkit-transform: translate(-50%, -100%); transform: translate(-50%, -100%); visibility: visible; opacity: 1; }
#modal_2 {height: 350px;}
.closer { width: 40px; height: 40px; display: block; position: absolute; right: 10px; top: 10px; background: url('cross.png') no-repeat; cursor: pointer; }
.closer:hover { -webkit-transform: rotate(90deg); transform: rotate(90deg); }

/* animation */
.fadeIn, .fadeOut, .slideInDown, .slideOutUp { -webkit-animation-duration: 0.4s; animation-duration: 0.4s; -webkit-animation-timing-function: linear; animation-timing-function: linear; }

@keyframes fadeIn { 
	from { opacity: 0; visibility: hidden; }
	to { opacity:1; visibility: visible; }
}
.fadeIn { -webkit-animation-name: fadeIn; animation-name: fadeIn; opacity: 1; visibility: visible; }

@keyframes fadeOut { 
	from { opacity: 1; visibility: visible; }
	to { opacity:0; visibility: hidden; }
}
.fadeOut { -webkit-animation-name: fadeOut; animation-name: fadeOut; opacity: 0; visibility: hidden; }

@keyframes slideInDown { 
	from { top: -20px; -webkit-transform: translate(-50%, -100%); transform: translate(-50%, -100%); }
	to { top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
}
.slideInDown { -webkit-animation-name: slideInDown; animation-name: slideInDown; top: 50%; transform: translate(-50%, -50%); }

@keyframes slideOutUp { 
	from { top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
	to { top: -20px; -webkit-transform: translate(-50%, -100%); transform: translate(-50%, -100%); }
}
.slideOutUp { -webkit-animation-name: slideOutUp; animation-name: slideOutUp; }


  
  a{
    text-decoration: none; color: #EC5C93; 
  }
  .ribbon{
    background: rgba(200,200,200,.5);
    width: 50px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    top: 19px;
    border: 1px solid rgba(255,255,255,.3);
    border-top: 2px solid rgba(255,255,255,.5);
    border-bottom: 0;  
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 3px rgba(0,0,0,.7); 
  }
  .ribbon:before{
    content:"";
    display: block;
    width: 15px;
    height: 15px;
    background: #4E535B;
    border: 4px solid #cfd0d1;
    margin: 18px auto;
    box-shadow: inset 0 0 5px #000, 0 0 2px #000, 0 1px 1px 1px #A7A8AB;
    border-radius: 100%;
  }
  .login{
    background: #F1F2F4;
    border-bottom: 2px solid #C5C5C8;
    border-radius: 5px;
    text-align: center;
    color: #36383C;
    text-shadow: 0 1px 0 #FFF;
    max-width: 300px;
    margin: 0 auto;
    padding: 15px 40px 20px 40px;
    box-shadow: 0 0 3px #000;
  }
  .login:before{
    content:"";
    display: block;
    width: 70px;
    height: 4px;
    background: #4E535B;
    border-radius: 5px;
    border-bottom: 1px solid #FFFFFF;
    border-top: 2px solid #CBCBCD;
    margin: 0 auto;
  }

  p{
    font-family:'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #7B808A;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .input{
    text-align: right;
    background: #E5E7E9;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0 0 3px #65686E;
    border-bottom: 1px solid #FFF;
  }
  input{
    width: 260px;
    background: transparent;
    border: 0;
    line-height: 3.6em;
    box-sizing: border-box;
    color: #71747A;
    font-family:'Open Sans', Arial, sans-serif;
    text-shadow: 0 1px 0 #FFF;
  }
  input:focus{
    outline: none;
  }
  .blockinput{
    border-bottom: 1px solid #BDBFC2;
    border-top: 1px solid #FFFFFF;
  }
  .blockinput:first-child{
    border-top: 0;
  }
  .blockinput:last-child{
    border-bottom: 0;
  }
  .blockinput i{
    padding-right: 10px;
    color: #B1B3B7;
    text-shadow: 0 1px 0 #FFF;
  }
  ::-webkit-input-placeholder {
    color: #71747A;
    font-family:'Open Sans', Arial, sans-serif;
    text-shadow: 0 1px 0 #FFF;
  }
  .buttonInForm{
    margin-top: 20px;
    display: block;
    width: 100%;
    line-height: 2em;
    background: rgba(114,212,202,1);
    border-radius: 5px;
    border:0;
    cursor: pointer;
    border-top: 1px solid #B2ECE6;
    box-shadow: 0 0 0 1px #46A294, 0 2px 2px #808389;
    color: #FFFFFF;
    font-size: 1.5em;
    text-shadow: 0 1px 2px #21756A;
  }
  button:hover{
   background: linear-gradient(to bottom, rgba(107,198,186,1) 0%,rgba(57,175,154,1) 100%);  
  }
  button:active{
    box-shadow: inset 0 0 5px #000;
    background: linear-gradient(to bottom, rgba(57,175,154,1) 0%,rgba(107,198,186,1) 100%); 
  }
